<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Entities" connectionString="data source=10.8.12.99;Initial Catalog=AMS;persist security info=True;user id=sa;password=P@ssword$;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>